@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

* {
    box-sizing: border-box;
}

body {
    font-family: "Outfit", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #d5e1ef;
}

img {
    width: 275px;
    border: none;
    border-radius: 20px;
    margin: 15px;
}

.container {
    background-color: #fff;
    width: 305px;
    height: 600px;
    border-radius: 20px;
    margin-top: 50px;
}

.one {
    font-weight: bold;
    font-size: 24px;
    margin: 10px;
}

.two {
    color: #8d949e;
}
p {
    font-size: 15px;
    text-align: center;
    margin: 20px 30px;
}

.attribution {
    font-size: 11px;
    text-align: center;
    text-decoration: none;
}

/*Media*/
@media (min-width: 1200px) {
    img {
        width: 375px;
        margin: 20px 30px;
    }

    .container {
        width: 430px;
        height: 600px;
        margin-top: 50px;
    }

    .one {
        margin: 10px 60px;
    }

    p {
        margin: 10px 90px;
    }
}
